params.repdir = './reports'
trace {
enabled = true
fields = 'process,task_id,hash,name,attempt,status,exit,submit,start,complete,duration,realtime,cpus,%cpu,disk,memory,%mem,rss,vmem,rchar,wchar,script,workdir'
file = "$params.repdir/consumption.tsv"
sep = '\t'
}

timeline {
  enabled = true
  file = "$params.repdir/timeline.html"
}

report {
  enabled = true
  file = "$params.repdir/run_id.html"
}

process {
    withName:fastqc      {container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1'}
    
}

docker {
    enabled = true
    temp = 'auto'
}
